body{
    padding: 0px;
    margin: 0px;
    min-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    margin:auto;
    height: 10%;
    background-color:aliceblue;
}

.img{
    display: flex;
    width: 120px;
    margin:auto;
}


.main{
    display: flex;
    justify-content: center;
}

aside{
    order: 1;
    width: 15%;
    padding: 10px;
    font-size: 10pt;
    margin-right: 10%;
}

.section{
    border-bottom: 1px solid slategrey;
} 

.last{
    border-bottom: 0px;
    }

.main-content{
    order: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 12pt;
}

.section h1{
    font-size: 30pt;
    } 

.section ol{
    padding-left: 10px;
    } 

.section li{
    margin:5px;
    } 

a{
    text-decoration: none;
}

@media screen and (max-width: 1300px) {
	aside{
		display: none;
	}
}